body {
    background-image: url("../images/full-bloom-bkgrnd.png");
    font-family: Arial, Helvetica, sans-serif;
}


a:any-link {
    color: #666666;
}

a:hover {
    color: #ffffff;
}

h1 {
    color: #666666;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
}

.name {    
}

h3 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.container {
    background: #ffffff;
    width: 960px;
    margin-top: 75px;
    padding: 20px;
    border-style: solid;
    border-color: #dddddd;
    border-width: 2px;
}

#self {
    width: 210px; 
    height: 200px;
    padding: 5px;   
}

.responsive {
    width: 100%;
    height: auto;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    font-size: 19px;
}

#submit {
    background: #4aaaa5;
    color: #ffffff;
    padding: 5px 10px 5px 10px;
}

#submit:hover {
    background: #777777;;
}


#dog {
    border-radius: 10px;
    width: 140px;
    height: 140px;
}

#dogcont {
    position: relative;
}

#dogtext {
    position: absolute;
    top: 88px;
    left: 0;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    padding-left: 34px;
    padding-right: 33px;
}

#dogtext:hover {
    background: #777777;
}


#vegas {
    position: absolute;
    top: 0px;
    left: 16%;
    border-radius: 10px;
    width: 140px;
    height: 140px;
    transform: rotate(90deg);
    
}

#vegastext {
    position: absolute;
    top: 88px;
    left: 16%;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    padding-left: 46px;
    padding-right: 50px;
}  

#vegastext:hover {
    background: #777777;;
}

#oly {
    border-radius: 10px;
    width: 140px;
    height: 140px;
    transform: rotate(90deg);
}

#olytext {
    position: absolute;
    top: 232px;
    left: 0;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    padding-left: 26px;
    padding-right: 27px;
}

#olytext:hover {
    background: #777777;;
}
  
#jrt {
    position: absolute;
    left: 16%;
    top: 144px;
    border-radius: 10px;
    width: 140px;
    height: 140px;
}

#JRTtext {
    position: absolute;
    top: 232px;
    left: 16%;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    padding-left: 26px;
    padding-right: 25px;
}

#JRTtext:hover {
    background: #777777;
}

#linac {
    position: relative;
    left: 0;
    border-radius: 10px;
    width: 140px;
    height: 140px;
    transform: rotate(90deg);
}

#linactext {
    position: absolute;
    top: 376px;
    left: 0;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    padding-left: 42px;
    padding-right: 43px;
}

#linactext:hover {
    background: #777777;
}

  
footer {
    background: #666666;
    padding: 30px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top-style: solid;
    border-width: 8px;
    border-color: #4aaaa5;
}
    
.copyright {
    position: fixed;
    bottom: 5px;
    right: 50%;
    text-align: center;
    color: #ffffff;
    font-size: x-small;
}





   
       


